<div class="login-form-component">
  <button class="back-icon icon-button no-border no-outline"
          type="button"
          {{action "goBack"}}>
    <i class="fas fa-arrow-left"></i>
  </button>

  <img src="/assets/images/logo light coloured 500x242.png"
       height="180"
       alt="Tenacity logo"
       class="logo-image">

  <form {{action "authenticate" on="submit"}}>
    <div class="login-inputs">
      {{input value=email placeholder="Email address" class="form-control email-input" autocomplete="off"}}
      {{input value=password type="password" placeholder="Password" class="form-control password-input" autocomplete="off"}}
    </div>

    <button class="login-button styled-button" type="submit">Sign in</button>
  </form>

  {{#if errorMessage}}
    <div class="login-error">
      {{error-message errorMessage=errorMessage}}
    </div>
  {{/if}}
</div>
