<div class="standard-container profile-template">
  <h2 class="container-title">Change Password</h2>

  <form {{action "save" on="submit"}}>
    {{input value=current_password
            type="password"
            placeholder="Current password"
            class="form-control password-input medium-length"
            autocomplete="off"}}

    {{input value=new_password
            type="password"
            placeholder="New password"
            class="form-control password-input medium-length"
            autocomplete="off"}}

    {{input value=confirm_password
            type="password"
            placeholder="Confirm password"
            class="form-control password-input medium-length"
            autocomplete="off"}}

    <hr class="styled-separator">

    <div class="save-controls">
      <div class="spinner-wrapper">
          {{loading-spinner visible=isSaving}}
      </div>


      {{link-to "Cancel" "dashboard"
                class="cancel-button styled-link destructive save-control"
                disabled=isSaving}}

      <button class="save-button styled-button"
              type="submit"
              disabled={{isSaving}}>
        Save
      </button>
    </div>
  </form>
</div>
