<div class="standard-container change-password-template">
  <h2 class="container-title">Change Password</h2>

  <form {{action "save" on="submit"}}>

    <div class="input-spacer">
      <label for={{concat elementId "-current-password"}} class="input-label">Current password</label>

      {{input value=(mut (get model "current_password"))
              type="password"
              id=(concat elementId "-current-password")
              class="form-control current-password-input medium-length"
              required="true"
              autocomplete="off"}}

      {{#each model.errors.current_password as |error|}}
        <div class="input-error">Current password {{error.message}}</div>
      {{/each}}
    </div>

    <div class="input-spacer">
      <label for={{concat elementId "-new-password"}} class="input-label">New password</label>

      {{input value=(mut (get model "new_password"))
              type="password"
              id=(concat elementId "-new-password")
              class="form-control new-password-input medium-length"
              required="true"
              autocomplete="off"}}

      {{password-strength-requirement}}

      {{#each model.errors.new_password as |error|}}
        <div class="input-error">New password {{error.message}}</div>
      {{/each}}
    </div>

    <div class="input-spacer">
      <label for={{concat elementId "-confirm-password"}} class="input-label">Confirm password</label>

      {{input value=(mut (get model "confirm_password"))
              type="password"
              id=(concat elementId "-confirm-password")
              class="form-control confirm-password-input medium-length"
              required="true"
              autocomplete="off"}}

      {{#each model.errors.confirm_password as |error|}}
        <div class="input-error">Confirm password {{error.message}}</div>
      {{/each}}
    </div>

    <hr class="styled-separator">

    <div class="save-controls">
      <div class="spinner-wrapper">
        {{loading-spinner visible=isSaving}}
      </div>

      {{link-to "Cancel" "dashboard"
                class="cancel-button styled-link destructive save-control"
                disabled=isSaving}}

      <button class="save-button styled-button"
              type="submit"
              disabled={{isSaving}}>
        Save
      </button>
    </div>
  </form>
</div>
