<div class="standard-container profile-template">
  <h2 class="container-title">Change Password</h2>

  <form {{action "save" on="submit"}}>

    <label for={{concat elementId "-current-password"}} class="input-label">Current password</label>
    {{input value=current_password
            type="password"
            id=(concat elementId "-current-password")
            class="form-control password-input medium-length"
            required="true"
            autocomplete="off"}}

    <label for={{concat elementId "-new-password"}} class="input-label">New password</label>
    {{input value=new_password
            type="password"
            id=(concat elementId "-new-password")
            class="form-control password-input medium-length"
            required="true"
            autocomplete="off"}}

    <label for={{concat elementId "-confirm-password"}} class="input-label">Confirm password</label>
    {{input value=confirm_password
            type="password"
            id=(concat elementId "-confirm-password")
            class="form-control password-input medium-length"
            required="true"
            autocomplete="off"}}

    <hr class="styled-separator">

    <div class="save-controls">
      <div class="spinner-wrapper">
        {{loading-spinner visible=isSaving}}
      </div>


      {{link-to "Cancel" "dashboard"
                class="cancel-button styled-link destructive save-control"
                disabled=isSaving}}

      <button class="save-button styled-button"
              type="submit"
              disabled={{isSaving}}>
        Save
      </button>
    </div>
  </form>
</div>
