<div class="dashboard-template">
  <div class="standard-container">
    <h2 class="container-title">Dashboard</h2>

    <p>Hello <span class="user-name">{{this.model.name}}</span>!</p>

    <p>Your current role is <span class="user-role-name"><strong class="text-primary">{{this.model.role}}</strong></span> and you have permissions to:</p>

    <ul>
      {{#each this.model.abilities as |ability|}}
        <li>
          <a href={{ability.url}} class={{ability.className}}>{{ability.displayText}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
