<div class="standard-container users-edit-template">
  <div class="template-title">
    <h2 class="container-title">Edit User</h2>
    <h3>({{model.email}})</h3>
  </div>

  <form {{action "save" on="submit"}}>
    <p class="section-header">
      Basic Settings
    </p>

    <label for="{{concat elementId '-first-name'}}" class="input-label">First Name</label>
    {{input value=(mut (get model "first_name"))
            placeholder="First name"
            id=(concat elementId '-first-name')
            class="form-control medium-length"
            autocomplete="off"
            required="true"
            disabled=isSaving}}

    <label for="{{concat elementId '-last-name'}}" class="input-label">Last Name</label>
    {{input value=(mut (get model "last_name"))
            placeholder="Last name"
            id=(concat elementId '-last-name')
            class="form-control medium-length"
            autocomplete="off"
            required="true"
            disabled=isSaving}}

    <label for="{{concat elementId '-phone'}}" class="input-label">Phone</label>
    {{input value=(mut (get model "phone"))
            placeholder="Phone"
            id=(concat elementId '-phone')
            class="form-control medium-length"
            autocomplete="off"
            required="true"
            disabled=isSaving}}

    <hr class="styled-separator">

    <div class="save-controls">
      <div class="spinner-wrapper">
          {{loading-spinner visible=isSaving}}
      </div>

      {{link-to "Cancel" "users.index"
                class="cancel-button styled-link destructive save-control"
                disabled=isSaving}}

      <button class="save-button styled-button"
              type="submit"
              disabled={{isSaving}}>
        Save
      </button>
    </div>
  </form>
</div>
