<div class="index-container">
  <div class="rounded-container">
    {{#if this.showLogin}}
      {{login-form onGoBack="showChoices"}}
    {{else if this.showSignUp}}
      {{signup-form errorMessage=signUpErrorMessage
                    onGoBack="showChoices"
                    onError="showSignUpError" }}
    {{else}}
      {{authorization-choice onLoginClick="showLogin"
                             onSignupClick="showSignUp"}}
    {{/if}}
  </div>
</div>
